.table
  border-collapse: collapse
  margin: 32px
  border: 1px black dashed
  padding: 8px
  color: #3d3d3d
  &__body > tr:nth-child(odd)
    background-color: white
  &__body-row 
    &:hover
      color: #bf0000
    & > td
      padding: 8px
  &__head
    color: black
    & > tr > th
      padding: 8px
  &__gear
    background-color: grey
    color: white
    padding: 4px 6px
    border-radius: 8px
    margin: auto 2px
  &__button
    background-color: #b30000
    border: none
    padding: 6px
    font-family: 'PT Mono', monospace;
    font-weight: bold
    color: white
    border-radius: 8px
    &:hover
      background-color: #a30000
      box-shadow: 1px 1px 1px grey
      cursor: pointer